body {
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  li {
    margin-bottom: 10px;
  }
}

.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron {
  padding: 14px 24px;
  font-size: 21px;
}
