body {
  background-color: #2f363d;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  li {
    margin-bottom: 10px;
  }
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 14px 24px;
  font-size: 21px;
  background: url("/public/img/food.jpg") no-repeat center;
  background-size: cover;
  color: #f7f7f7;
}

footer {
  padding-right: 15px;
  padding-left: 15px;
  p {
    color: #f7f7f7;
  }
}
